<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <hr class="hr-text" data-content="OR">
        </div>
    </div>
    <div>
        <div class="col-lg-12" style="text-align:center;">
            <div style="font-size: 160%; text-align: center; color: black;">
                Mail us:
                <a style="padding: 4px;" href="mailto:{{site.enquiryemail}}?Subject={{include.product | upcase}}" target="_top">{{site.enquiryemail}}</a>
            </div>
        </div>
    </div>
</div>
<br>