{% for i in site.industries %}
<div class="portfolio-modal modal fade" id="portfolioModal{{ i.id }}" tabindex="-1" role="dialog">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1">
                    <h2 style="color:black;">
                        {{ i.title}}
                    </h2>
                    <br>

                    <br>
                    <div class="row">
                        <div class="col-lg-6">
                            <span>
                                <h5>Cas no: </h5>
                                <h5 style="color:black">{{i.cas}}</h5>
                            </span>

                        </div>
                        <div class="col-lg-6">
                            <span>
                                <h5>Packing Size: </h5>
                                <h5 style="color: black">{{i.size}}</h5>
                            </span>
                        </div>
                    </div>
                    <br>
                    <br>
                    <div style="text-align: left;">
                        <h3>
                            Industrial Usage:
                        </h3>
                        <br>
                        {% for product in i.usage %}
                        <span class="badge badge-success">
                            {{product}}
                        </span>
                        {% endfor %}
                    </div>
                    <br>
                    <br>
                    <br>
                    <br>
                    <a href="/products/{{i.title | replace: " " , ""}}">
                        <div class="btn btn-primary">Know more</div>
                    </a>
                    <a style="padding: 4px;" href="mailto:{{site.enquiryemail}}?Subject={{include.product | upcase}}" target="_top">
                        <div class="btn btn-primary">Mail us</div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}