<section id="team" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading blacktext">Why Us</h2>
            </div>
        </div>
        <br>
        <br>
        <br>
        <div class="row text-center">
            <div class="col col-sm-6" style="font-size:18px">
                <h3 class="section-heading">Best Quality Products</h3>
                <br> TLPL believes in strengthening relationships with clients by offering the highest-quality products. With
                strict quality control inspections, we maintain the standards of our high-end products.
            </div>

            <div class="col col-sm-6" style="font-size:18px">
                <h3 class="section-heading">Fully equipped QA & QC LAB</h3>
                <br> We never compromise with our standards, which is why our in-house quality-check labs make sure that you
                only get the best products.
            </div>
        </div>
        <br>
        <br>
        <div class="row text-center">

            <div class="col col-sm-6" style="font-size:18px">
                <h3 class="section-heading">Warehouse/ Tanks</h3>
                <br> Our storage facilities for produced goods ensure their complete safety at all times. To monitor the safety
                and quality of our chemicals, we have built in-house storage tanks.
            </div>

            <div class="col col-sm-6" style="font-size:18px">
                <h3 class="section-heading"> Strategic Location </h3>
                <br> We are strategically located within 100km from western coast port, International and Domestic airport with
                gives us a good connectivity from land, sea, air giving a smooth business operation.
            </div>
        </div>
    </div>
    <br>
    <br>
</section>