---
layout: page
parmalink: 'pages/csr'
parent: csr
---

<div class="services">
    {% for service in site.services %}
    <div class="row">
        <h3>{{service.title}}</h3>
        <hr> {% for img in service.imgs %}
        <div class="col-md-8 col-centered">
            <div class="thumbnail">
                <img src="/img/services/{{img.src}}" alt="Lights" style="width:100%; height: 100%;">
                <div class="caption">
                    {{img.tag}}
                  </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endfor %}
    <!--<br>
    <br>
    <div class="row">
        <div class="col-md-8 col-centered">
         <a class="btn btn-primary" href="/pages/archive">Archive</a>
        </div>
    </div>
    -</div>-->
</div>